/*Rating system starts*/
*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.body{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn{
    padding:8px 35px;
    background-image: linear-gradient(to right, #43398e, #4070F4, #44509a);
    border:0;
    outline:none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}
.popup1{
    width:700px;
    height:500px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
    border-radius: 10px;
}
.open-popup1{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup1 h4{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup1 button{
    padding:8px 35px;
    background-image: linear-gradient(to right, #43398e, #4070F4, #44509a);
    border:0;
    outline:none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    color: white;
    margin-top: 300px;
    margin-left: 15px;
    margin-right: 15px;
    transition: .5s;
    text-transform: uppercase;
}
.popup2{
    width:400px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}
.open-popup2{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup2 img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup2 h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup2 button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #4070F4;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.content-table{
    border-collapse: collapse;
    margin: 0 0;
    font-size: 0.7em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr{
    background-color: #4070F4;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 4px solid #4070F4;
}
.content-table tbody tr:hover{
    font-weight:bold;
    color:#4070F4;
}
input{
    font-size: 16px;
    width:120px;
    text-align: center;
}