<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/prelogin.css">
    <title>Squeeze Out</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="/static/img/admin.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="role">Administrator</h2>
                        <!-- <p class="description">If you're an andministrator and want to see the results of the feedbacks provided by the students, then login with your credentials below.</p> -->
                        <a href="adminlogin.html"><button class="button">Admin Login</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="/static/img/student.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="role">Student</h2>
                        <!-- <p class="description">If you're a student and want to provide feedbacks to your concerned faculties, then login with your credentials below.</p> -->
                        <a href="stdlogin.html"><button class="button">Student Login</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>