<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="/static/css/stdlogin.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<link rel="stylesheet" href="boxicons-master/css/boxicons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="/static/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="/static/img/bg.png">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="/static/img/student.png">
				<!-- <h2 class="title">Welcome</h2> -->
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
				<div class="input-div sem">
					<div class="i"> 
						<i class='bx bxs-institution'></i>
				   </div>
					<div class="div">
						<select id="sem">
							<option value="Semester">Select Semester</option>
							<option value="Semester">1st Sem</option>
							<option  value="Semester">2nd Sem</option>
							<option value="Semester">3rd Sem</option>
							<option value="Semester">4th Sem</option>
							<option value="Semester">4th Sem</option>
							<option value="Semester">4th Sem</option>
							<option value="Semester">5th Sem</option>
							<option value="Semester">6th Sem</option>
							<option value="Semester">7th Sem</option>
							<option value="Semester">8th Sem</option>
						</select>
					</div>
					<!-- <i class='bx bxs-institution'></i> -->
				</div>
				<div class="input-div branch">
					<div class="i"> 
						<i class='bx bxs-institution'></i>
				   </div>
					<div class="div">
						<select id="sem">
							<option value="Semester">Select Branch</option>
							<option value="Semester">CSE-I</option>
							<option value="Semester">CSE-II</option>
							<option value="Semester">CSE-III</option>
							<option value="Semester">CSIT</option>
							<option value="Semester">CSEAI</option>
							<option value="Semester">CSEDS</option>
							<option value="Semester">CST</option>
							<option value="Semester">CIVIL</option>
							<option value="Semester">MECHANICAL</option>
							<option value="Semester">EE</option>
							<option value="Semester">EEE</option>
							<option value="Semester">ECE</option>
						</select>
					</div>
				</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/stdlogin.js"></script>
</body>
</html>
